<h1>Actors</h1>

<table border="1">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Image</th>
      <th>Dob</th>
      <th></th>
    </tr>
    <% @acts.each do |person| %>
      <tr>
        <td><%= person.id %></td>
        <td><%= person.name %></td>
        <td><img src="<%= person.image%>"></td>
        <td><%= person.dob %></td>
        <td><a href = "/actors/<%= person.id %>" >Show details</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
