<h1>Movie #<%= @id %> details</h1>

<a href="/actors">Go back</a>

<hr>

<dl>
  <dt>Title</dt>
  <dd><%= @target.title %></dd>
  <dt>Year</dt>
  <dd><%= @target.year %></dd>
  <dt>Duration</dt>
  <dd><%= @target.duration %></dd>
  <dt>Description</dt>
  <dd><%= @target.description %></dd>
  <dt>Image</dt>
  <dd><img src="<%= @target.image %>"></dd>
  <dt>Director</dt>
  <dd><%= Director.all.where({ :id => @target.director_id }).first.name %></dd>
  <dt>Created at:</dt>
  <dd><%= @target.created_at %></dd>
  <dt>Updated at:</dt>
  <dd><%= @target.updated_at %></dd>
</dl>

<hr>
